@import url(https://fonts.googleapis.com/css?family=Space+Mono);

html {
  box-sizing: border-box;
  font-family: "Space Mono"
}
*, *:before, *:after {
  box-sizing: inherit;
}

.shiptest {
    height: auto;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    background: beige;
}
.shipImg {
    width: 650px;
    height: 400px;
}

body {
    background-image: url("https://i.ytimg.com/vi/JquobII5VjA/maxresdefault.jpg");
    padding: 0;
    margin: 0;
}

.MGLTchart {
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    background: beige;
}

.header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    position: fixed;
    z-index: 3;
    background: gray;
    background-image: url("https://i.ytimg.com/vi/JquobII5VjA/maxresdefault.jpg");
    border-bottom: 5px solid gray;
    top: 0;

}

.header li {
    display: inline;
    margin-right: 75px;
    font-size: 40px;
}

.test {
    width: 100%;
    height: 500px;
    background: teal;
}

.header a {
    text-decoration: none;
    color: #FFE421;
}

.planetsHeader {
    width: 100%;
    height: 100px;
    background: teal;
    position: fixed;
}

.container {
    width: 900px;
    height: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

.planetCard {
    margin-bottom: 100px;
}

.container h1 {
    color: #FFE421;
    font-size: 3em;
}

.container li, p, h1 {
    list-style: none;
    font-size: 20px;
    font-weight: 900;
    color: #FFE421;

}

.landscape {
    width: 100%;
}

.infoTab {
    width: 90%;
    height: auto;
    /*background: #191603;*/
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.swLogo {
    width: 879.8px;
    height: 614.4px;
    margin-top: -110px;
    margin-left: -800;
    /*margin-right: auto;*/
    background-image: url("images/logo.png");
}

.test {
    width: 100%;
    height: 300px;
    background: teal;
}

.landscapeImg {
    width: 100%;
    height: 450px;
}

.planetSummary {
    width: 100%;
    height: auto;
}

.planetStats {
    width: 40%;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.planetImg {
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 0;
    right: 75px;
}

/* scroll animation*/

#titles {
	position: absolute;
	width: 18em;
	height: 50em;
	bottom: 0;
	left: 50%;
	margin-left: -9em;
	font-size: 350%;
	font-weight: bold;
	overflow: hidden;
	transform-origin: 50% 100%;
	transform: perspective(300px) rotateX(14deg);
}

#titles p {
    font-size: 1.1em;
}

#titles:after {
	position: absolute;
	content: ' ';
	left: 0;
	right: 0;
	top: 0;
	bottom: 60%;
	background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	pointer-events: none;
}


#titlecontent {
	position: absolute;
	top: 80%;
	animation: scroll 75s linear 4s infinite;
}
/*********** LOADER ****************/

@keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}

.loader {
    width: 240px;
    height: 240px;
    margin: 200px auto;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
