
<div class="loader" ng-hide="loaderWheel"></div>
<div class="header">
    <span class="planetLinks">
        <ul>
            <li ng-click="showLoaderWheel()"><a ui-sref="planets">Planets<img src="http://www.icon2s.com/img128/128x128-planet-saturn.png" alt="" /></a></li>
            <li ng-click="showLoaderWheel()"><a ui-sref="ships">Starships<img src="https://cdn4.iconfinder.com/data/icons/star-wars-theme/154/classic-spacecraft-ship-star-wars-128.png" alt="" /></a></li>
            <li ng-click="showLoaderWheel()"><a ui-sref="species">Species<img src="http://iconbug.com/download/size/128/icon/6066/star-wars-yoda/" alt="" /></a></li>
        </ul>

    </span>
</div>

<div id="titles">
    <div id="titlecontent">
        <a ui-sref="home">
            <div class="swLogo"></div>
        </a>
        <p>The Encyclopedia</p>
        <hr>
	<p>My name is Kyle Barlow and this is my toy project.  I love to code and create so I decided to make this site to practice new coding technologies, gain some experience, all the while having fun with Star Wars.  I built this using Angular and I gathered all the data from swapi.co.  Shout out to them for making all the information so accessible and easy to get.
    </p>
    </div>
</div>
