<div class="header">
    <span class="planetLinks">
        <ul>
            <li><a ui-sref="planets">Planets</a></li>
            <li><a ui-sref="ships">Starships</a></li>
            <li><a ui-sref="species">Species</a></li>
        </ul>

    </span>
</div>

<div id="titles">
    <div id="titlecontent">

        <a ui-sref="home">
            <div class="swLogo"></div>
        </a>

	<p>My name is Kyle Barlow and this is my toy project.  I love to code and create so I decided to make this site to practice new coding technologies, gain some experiene, all the while having fun with Star Wars.  I built this using Angular and I gathered all the data from swapi.co.  Shout out to them for making all the information so accessible and easy to get. 
    </p>

    </div>
</div>
