<div class="container">
    <a ui-sref="home">
        <div class="swLogo"></div>
    </a>
    <div class="planetCard" ng-repeat="planet in planets">
        <a name="{{planet.response.name}}"></a>
        <div class="landscape">
            <h1>{{planet.response.name}}</h1>
            <img class="landscapeImg" ng-src="{{planet.landImg}}" alt="" />
        </div>
        <div class="infoTab">
            <div class="planetSummary">
                <p>{{planet.summary}}</p>
            </div>
            <div class="planetStats">
                <ul>
                    <li>Climate: {{planet.response.climate}}</li>
                    <li>Terrain: {{planet.response.terrain}}</li>
                    <li>Surface Water: {{planet.response.surface_water}}%</li>
                    <li>Diameter: {{planet.response.diameter}} miles</li>
                    <li>Planet Rotation Perion: {{planet.response.rotation_period}} hours</li>
                </ul>
            </div>
            <img ng-src="{{planet.planetImg}}" alt="" class="planetImg" />
        </div>
    </div>
</div>
