

<br>
<br>
<br>
<!-- <div class="MGLTchart">

    <canvas id="bar" class="chart chart-bar"
        chart-data="data" chart-labels="labels"> chart-series="series"
    </canvas>

</div> -->

<div class="container">
    <a ui-sref="home">
        <div class="swLogo"></div>
    </a>
    <div class="planetCard" ng-repeat="ship in ships">
        <a name="{{ship.data.name}}"></a>
        <div>
            <h1>{{ship.data.name}}</h1>
            <img class="shipImg" ng-src="{{ship.shipImg}}" alt="" />
        </div>
        <div class="infoTab">
            <div class="planetSummary">
                <p>{{planet.summary}}</p>
            </div>
            <div class="shipStats">
                <ul>
                    <li>Crew: {{ship.data.crew}}</li>
                    <li>Hyperdrive Rating: {{ship.data.hyperdrive_rating}}</li>
                    <li>Length: {{ship.data.length}}</li>
                    <li>Class: {{ship.data.starship_class}}</li>
                    <li>Model: {{ship.data.model}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
