<div class="header">
    <span class="planetLinks">
        <ul>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('Sentinel-class landing craft')" start="0.2" volume="0.5">Sentinel-class landing craft</a>
            </li>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('Death Star')" start="0.2" volume="0.5">Death Star</a>
            </li>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('Millennium Falcon')" start="0.2" volume="0.5">Millennium Falcon</a>
            </li>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('Y-wing')" start="0.2" volume="0.5">Y-wing</a>
            </li>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('X-wing')" start="0.2" volume="0.5">X-wing</a>
            </li>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('TIE Advanced x1')" start="0.2" volume="0.5">TIE Advanced x1</a>
            </li>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('Executor')" start="0.2" volume="0.5">Executor</a>
            </li>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('Slave 1')" start="0.2" volume="0.5">Slave 1</a>
            </li>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('Imperial shuttle')" start="0.2" volume="0.5">Imperial shuttle</a>
            </li>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('EF76 Nebulon-B escort frigate')" start="0.2" volume="0.5">EF76 Nebulon-B escort frigate</a>
            </li>


            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('Calamari Cruiser')" start="0.2" volume="0.5">Calamari Cruiser</a>
            </li>
             <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('A-wing')" start="0.2" volume="0.5">A-wing</a>
            </li> -->
             <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('B-wing')" start="0.2" volume="0.5">B-wing</a>
            </li>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('Republic Cruiser')" start="0.2" volume="0.5">Republic Cruiser</a>
            </li>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('Naboo fighter')" start="0.2" volume="0.5">Naboo fighter</a>
            </li>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('Naboo Royal Starship')" start="0.2" volume="0.5">Naboo Royal Starship</a>
            </li>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('Scimitar')" start="0.2" volume="0.5">Scimitar</a>
            </li>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('J-type diplomatic barge')" start="0.2" volume="0.5">J-type diplomatic barge</a>
            </li>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('AA-9 Coruscant freighter')" start="0.2" volume="0.5">AA-9 Coruscant freighter</a>
            </li>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('Jedi starfighter')" start="0.2" volume="0.5">Jedi starfighter</a>
            </li>



            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('H-type Nubian yacht')" start="0.2" volume="0.5">H-type Nubian yacht</a>
            </li>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('Star Destroyer')" start="0.2" volume="0.5">Star Destroyer</a>
            </li>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('Trade Federation cruiser')" start="0.2" volume="0.5">Trade Federation cruiser</a>
            </li>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('Theta-class T-2c shuttle')" start="0.2" volume="0.5">Theta-class T-2c shuttle</a>
            </li>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('T-70 X-wing fighter')" start="0.2" volume="0.5">T-70 X-wing fighter</a>
            </li>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('Rebel transport')" start="0.2" volume="0.5">Rebel transport</a>
            </li>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('Droid control ship')" start="0.2" volume="0.5">Droid control ship</a>
            </li>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('Republic Assault ship')" start="0.2" volume="0.5">Republic Assault ship</a>
            </li>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('Solar Sailer')" start="0.2" volume="0.5">Solar Sailer</a>
            </li>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('Republic attack cruiser')" start="0.2" volume="0.5">Republic attack cruiser</a>
            </li>

            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('Naboo star skiff')" start="0.2" volume="0.5">Naboo star skiff</a>
            </li>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('Naboo star skiff')" start="0.2" volume="0.5">Naboo star skiff</a>
            </li>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('Jedi Interceptor')" start="0.2" volume="0.5">Jedi Interceptor</a>
            </li>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('arc-170')" start="0.2" volume="0.5">arc-170</a>
            </li>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('Banking clan frigte')" start="0.2" volume="0.5">Banking clan frigte</a>
            </li>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('Belbullab-22 starfighter')" start="0.2" volume="0.5">Belbullab-22 starfighter</a>
            </li>
        </ul>
    </span>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="MGLTchart">

    <canvas id="bar" class="chart chart-bar"
        chart-data="data" chart-labels="labels"> chart-series="series"
    </canvas>

</div>

<div class="container">
    <a ui-sref="home">
        <div class="swLogo"></div>
    </a>
    <div class="planetCard" ng-repeat="ship in ships">
        <a name="{{ship.name}}"></a>
        <div class="landscape">
            <h1>{{ship.name}}</h1>
            <img class="landscapeImg" ng-src="{{ship.img}}" alt="" />
        </div>
        <div class="infoTab">
            <div class="planetSummary">
                <p>{{planet.summary}}</p>
            </div>
            <div class="planetStats">
                <ul>
                    <li>Crew: {{ship.crew}}</li>
                    <li>Hyperdrive Rating: {{ship.hyperdrive_rating}}</li>
                    <li>Length: {{ship.length}}</li>
                    <li>Class: {{ship.starship_class}}</li>
                    <li>Model: {{ship.model}}</li>
                </ul>
            </div>
            <img ng-src="{{planet.planetImg}}" alt="" class="planetImg" />
        </div>
    </div>
</div>
