<!-- <div class="header">
    <span class="planetLinks">
        <ul>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('Rodian')" start="0.2" volume="0.5">Rodian</a>
            </li>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('Hutt')" start="0.2" volume="0.5">Hutt</a>
            </li>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('Yodas species')" start="0.2" volume="0.5">Yoda's species</a>
            </li>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('Trandoshan')" start="0.2" volume="0.5">Trandoshan</a>
            </li>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('Mon Calamari')" start="0.2" volume="0.5">Mon Calamari</a>
            </li>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('Ewok')" start="0.2" volume="0.5">Ewok</a>
            </li>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('Sullustan')" start="0.2" volume="0.5">Sullustan</a>
            </li>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('Neimodian')" start="0.2" volume="0.5">Neimodian</a>
            </li>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('Gungan')" start="0.2" volume="0.5">Gungan</a>
            </li>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('Toydarian')" start="0.2" volume="0.5">Toydarian</a>
            </li>



            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('Dug')" start="0.2" volume="0.5">Dug</a>
            </li>
             <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('Twilek')" start="0.2" volume="0.5">Twi'lek</a>
            </li>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('Aleena')" start="0.2" volume="0.5">Aleena</a>
            </li>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('Vulptereen')" start="0.2" volume="0.5">Vulptereen</a>
            </li>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('Xexto')" start="0.2" volume="0.5">Xexto</a>
            </li>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('Toong')" start="0.2" volume="0.5">Toong</a>
            </li>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('Cerean')" start="0.2" volume="0.5">Cerean</a>
            </li>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('Nautolan')" start="0.2" volume="0.5">Nautolan</a>
            </li>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('Zabrak')" start="0.2" volume="0.5">Zabrak</a>
            </li>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('Tholothian')" start="0.2" volume="0.5">Tholothian</a>
            </li>



            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('Iktotchi')" start="0.2" volume="0.5">Iktotchi</a>
            </li>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo("Quermian")" start="0.2" volume="0.5">Quermian</a>
            </li>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('Kel Dor')" start="0.2" volume="0.5">Kel Dor</a>
            </li>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('Chagrian')" start="0.2" volume="0.5">Chagrian</a>
            </li>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('Geonosian')" start="0.2" volume="0.5">Geonosian</a>
            </li>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('Mirialan')" start="0.2" volume="0.5">Mirialan</a>
            </li>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('Clawdite')" start="0.2" volume="0.5">Clawdite</a>
            </li>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('Besalisk')" start="0.2" volume="0.5">Besalisk</a>
            </li>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('Kaminoan')" start="0.2" volume="0.5">Kaminoan</a>
            </li>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('Skakoan')" start="0.2" volume="0.5">Skakoan</a>
            </li>

            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('Muun')" start="0.2" volume="0.5">Muun</a>
            </li>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('Togruta')" start="0.2" volume="0.5">Togruta</a>
            </li>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('Pau/'/an')" start="0.2" volume="0.5">Pau'an</a>
            </li>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('Wookiee')" start="0.2" volume="0.5">Wookiee</a>
            </li>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('Droid')" start="0.2" volume="0.5">Droid</a>
            </li>
            <li class="planets">
              <a href="" ng-audio="../sounds/chewy_roar.mp3" ng-click="scrollTo('Human')" start="0.2" volume="0.5">Human</a>
            </li>
        </ul>
    </span>
</div> -->


<div class="container">
    <a ui-sref="home">
        <div class="swLogo"></div>
    </a>
    <div class="planetCard" ng-repeat="alien in aliens">
        <a name="{{alien.name}}"></a>
        <div class="landscape">
            <h1>{{alien.name}}</h1>
            <img class="landscapeImg" ng-src="{{alien.img}}" alt="" />
        </div>
        <div class="infoTab">
            <div class="planetSummary">
                <p>{{planet.summary}}</p>
            </div>
            <div class="planetStats">
                <ul>
                    <li>Average Height: {{alien.average_height}} cm</li>
                    <!-- <li>Average Lifespan: {{alien.average_lifespan}} Years</li> -->
                    <li>Classification: {{alien.classification}}</li>
                    <li>Designation: {{alien.designation}}</li>
                    <li>Language: {{alien.language}}</li>
                    <li>Average Lifespan in Years: {{alien.average_lifespan}}</li>
                </ul>
            </div>
            <img ng-src="{{planet.planetImg}}" alt="" class="planetImg" />
        </div>
    </div>
</div>
