<div class="container">
    <a ui-sref="home">
        <div class="swLogo"></div>
    </a>
    <div class="planetCard" ng-repeat="alien in aliens">
        <a name="{{alien.data.name}}"></a>
        <div class="landscape">
            <h1>{{alien.data.name}}</h1>
            <img class="landscapeImg" ng-src="{{alien.speciesImg}}" alt="" />
        </div>
        <div class="infoTab">
            <div class="planetSummary">
                <p>{{planet.summary}}</p>
            </div>
            <div class="planetStats">
                <ul>
                    <li>Average Height: {{alien.data.average_height}} cm</li>
                    <li>Average Lifespan: {{alien.data.average_lifespan}} Years</li>
                    <li>Classification: {{alien.data.classification}}</li>
                    <li>Designation: {{alien.data.designation}}</li>
                    <li>Language: {{alien.data.language}}</li>
                    <li>Average Lifespan in Years: {{alien.data.average_lifespan}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
